extends ./../layout/main

block content
  h1 #{msg}
  table(class="table table-responsive")
    thead
      tr
        th #
        th name
        th description
        th Ações
    tbody
      each event in events
        tr 
          td #{event.id}
          td #{event.name}
          td #{event.description}
          td
            a(class="btn btn-primary" href="/events/" + event.id) Show
            a(class="btn btn-primary" href="/events/edit/" + event.id) Edit
            form(style="display:inline-block" action="/events/" + event.id + "?_method=DELETE" method ="POST" )
              button(type="submit" class="btn btn-danger") Delete
